*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color: #f1f2f3;
}

.header 
{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    background-color: #ffffff;
    height:70px;
    width:100%;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

img
{
    height: 50px;
    justify-content: center;
}

.form-feild
{
    display: flex;
    justify-content: center;
    padding: 10% 0%;
}

form
{
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.form-header
{

    font-family: 'Raleway', sans-serif;
    color: #4b71b0;
    padding: 10px 14px 40px 14px;
}

h1{
    font-size: 30px;
}
hr
{
    border-top: 3px solid #f1f2f3;
    width: 100%;
}

.form-body{
    display: table;
    padding: 5% 0px;
    width: 100%;
}

.table-data{
    margin-left: auto;
    margin-right: auto;
}

td{
    padding: 4px;
}

label
{
    color: #a7a7a7;
    font-family: 'Raleway', sans-serif;
    
}
input[type=date] {
    width: 156px;
    color: #a7a7a7;
}
::placeholder { 
  color: #a7a7a7;
  opacity: 1;
}

td.DOB-data{
    margin: 0;
}

.form-footer
{
    display: flex;
    padding: 5%;
    justify-content: flex-end;
}

.submit
{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    background-color: #a1c55b;
    box-shadow: 0px 2px 0px 0px #717a5e;
    border: 0.5px solid #7cb367;
    border-radius: 15px;
    padding: 5px 15px;
}
.submit:disabled,
.submit[disabled]{
  border: 1px solid #e1e8e2;
  background-color: #edf0ed;
  color: #ffffff;
  box-shadow: 0px 2px 0px 0px #d9e2db
}